{% extends 'blog/base.html' %}
{% block title %}
comment
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="background background-2"></div>
<h2 class="pl-3 mt-3">New comment</h2>
<div class="container">
    <div class="row">
        <div class="col col-md-6">
            <form method="POST" class="post-form">{% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="save btn btn-info btn-sm">Send</button>
                <a href="{% url 'post-detail' post_pk %}" class="save btn btn-outline-info btn-sm">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}