{% extends 'blog/base.html' %}
{% block title %}
blog
{% endblock title %}
{% block content %}
{% comment %} <div class="overlay"></div> {% endcomment %}
{% for post in posts %}
<div class="row justify-content-center">
    <article class="media content-section col-md-8">
        <img src="{{ post.author.profile.image.url }}" class="rounded-circle article-img" alt="">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }} at {{ post.date_posted|date:"H:i" }}</small>
            </div>
            <h3 class="post-title">
                {{ post.title }}
                <p class="comments-title mt-2">
                    {% if post.comments.count == 0 %}
                    (No comments yet)
                    {% elif post.comments.count == 1 %}
                    ({{ post.comments.count}}
                    comment)
                    {% else %}
                    ({{ post.comments.count }}
                    comments)
                    {% endif %}
                </p>
            </h3>
            <p class="article-content">{{ post.content|truncatewords:20 }}</p>
            <a class="btn btn-sm btn-warning" href="{% url 'post-detail' post.pk %}">Read more</a>

        </div>
    </article>
</div>

{% endfor %}
{% if is_paginated %}
{% include 'blog/includes/pagination.html' %}
{% endif %}

{% endblock content %}