{% extends 'blog/base.html' %}
{% block title %}
home
{% endblock title %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock page_header %}


{% block content %}
<div class=" background background-1"></div>
<div class="container h-100 bg">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">Giulia's site</h1>
            <p class="font-weight-bold">Welcome to my blog! Please join in and post your favourite thoughts and comments!</p>
            <p class="text-info font-weight-bold">Register free for an account and start posting!</p>
            <a class="btn btn-info" href="{% url 'blog-home' %}">My Blog</a>
            <br>
            <a class="btn btn-outline-info btn-sm mt-3" href="{% url 'login' %}">Login</a>
            <br>
            <a class="btn btn-outline-info btn-sm mt-3" href="{% url 'register' %}">Register</a>
        </div>
    </div>
</div>
{% endblock content %}