{% extends "blog/base.html" %}
{% block title %}
delete
{% endblock title %}
{% block content %}
<div class="overlay"></div>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Post</legend>
            <h2>Are you sure?</h2>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Confirm Delete</button>
            <a href="{% url 'post-detail' object.pk %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}